### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
#purchase_data

## Player Count

* Display the total number of players

In [2]:
sum_players = purchase_data.count()[0]

print('There are ' + str(sum_players) + ' players in our data file')

There are 780 players in our data file

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
items_unique = len(purchase_data['Item Name'].unique())
print('unique items = ' + str(items_unique))
total_spent = '${:,.2f}'.format(purchase_data['Price'].sum())
print('total spent = ' + str(total_spent))
ave_price = '${:,.2f}'.format(purchase_data['Price'].mean())
print('average price = ' + str(ave_price))
min_price = '${:,.2f}'.format(purchase_data['Price'].min())
print('min price is ' + str(min_price))
max_price = '${:,.2f}'.format(purchase_data['Price'].max())
print('max price is ' + str(max_price)) 
ave_age = purchase_data['Age'].mean()
print('average age = ' + str(ave_age))
min_age = purchase_data['Age'].min()
print('youngest player is ' + str(min_age))
max_age = purchase_data['Age'].max()
print('oldest player is ' + str(max_age))
total_ages = purchase_data['Age'].sum()
print('total years = ' + str(total_ages))
print('')
print('------ simple summary stats')

summary = {'Minimum': [min_price, min_age, 'n/a'],
        'Average': [ave_price, ave_age, 'n/a' ],
        'Maximum': [max_price, max_age, 'n/a'],
        'Total': [total_spent, total_ages, items_unique]
        }

summary_df = pd.DataFrame(summary, columns = ['Minimum', 'Average', 'Maximum', 'Total'], \
                          index=['Price','Age','Unique items'])

print(summary_df)

unique items = 179
total spent = $2,379.77
average price = $3.05
min price is $1.00
max price is $4.99
average age = 22.714102564102564
youngest player is 7
oldest player is 45
total years = 17717

------ simple summary stats
             Minimum  Average Maximum      Total
Price          $1.00    $3.05   $4.99  $2,379.77
Age                7  22.7141      45      17717
Unique items     n/a      n/a     n/a        179

------ gender stats
               Total Count Percentage of Players
Male                   652                83.59%
Female                 113                14.49%
Non-Disclosed           15                 1.92%

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [45]:
# find gender info
gender_info = purchase_data.groupby('Gender')['Purchase ID'].nunique()
#print('gender info')
#print(type(gender_info))
#print('------')
#print('total players = ' + str(sum_players))
female = gender_info.iloc[0]
female_percen = '{:.2%}'.format(female / sum_players)
#print('female = ' + str(female) + ' female percent = ' + str(female_percen))
male = gender_info.iloc[1]
male_percen = '{:.2%}'.format(male / sum_players)
#print('male = ' + str(male) + ' male percent = ' + str(male_percen))
nonD = gender_info.iloc[2]
nonD_percen = '{:.2%}'.format(nonD / sum_players)
#print('non-d = ' + str(nonD) + ' nonD percent = ' + str(nonD_percen))
print('')
print('------ gender stats ')
gender_stats = {'Total Count': [male, female, nonD],
        'Percentage of Players': [male_percen, female_percen, nonD_percen ]
        }
gender_stats_df = pd.DataFrame(gender_stats, columns = ['Total Count', 'Percentage of Players'], \
                          index=['Male','Female','Non-Disclosed'])
print(gender_stats_df)

------ gender stats
               Total Count Percentage of Players
Male                   652                83.59%
Female                 113                14.49%
Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
# we already have purchase count from previous cell
# find average purchase price
#ave_price = purchase_data[['Price','Gender']]
#ave_price
#gender_info = purchase_data.groupby('Gender')['Purchase ID'].nunique()
total_spent = purchase_data['Price'].sum()
print('total spent = ' + str(total_spent))
sum_price = purchase_data.groupby('Gender')['Price'].sum()
sum_price

total spent = 2379.77

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80