### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# This data is transactions, so we need to find unique players
total_transactions = purchase_data.count()[0]
print('There are ' + str(total_transactions) + ' transactions in our data set.')

players_unique = len(pd.unique(purchase_data['SN']))
print('There are ' + str(players_unique) + ' unique players in our data set.')

# let's make a dataframe that's just the unique players
players_unique_df = purchase_data.drop_duplicates(subset='SN', keep="first")

There are 780 transactions in our data set.
There are 576 unique players in our data set.

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# get number of unique items
num_items_unique = len(purchase_data['Item Name'].unique())
# make a dataframe of the unique items
num_items_unique_df = purchase_data.drop_duplicates(subset='Item ID', keep="first")
# calculate average price of unique items
ave_price = '${:,.2f}'.format(num_items_unique_df['Price'].mean())
# calculate total revenue
total_revenue = '${:,.2f}'.format(purchase_data['Price'].sum())

# Here's some interesting stats maybe someone would enjoy
print('')
print('Some basic statistics:')
print('----------------------')
total_ages = players_unique_df['Age'].sum()
ave_age =  total_ages / players_unique 
print('average age is ' + str(round(ave_age, 2)))
min_age = purchase_data['Age'].min()
print('youngest player is ' + str(min_age))
max_age = purchase_data['Age'].max()
print('oldest player is ' + str(max_age))
min_price = '${:,.2f}'.format(purchase_data['Price'].min())
print('The lowest priced item is ' + str(min_price))
max_price = '${:,.2f}'.format(purchase_data['Price'].max())
print('The highest priced item is ' + str(max_price)) 

# create summary purchase data dataframe
summary_data = {'Number of Unique Items': [num_items_unique],
            'Average Price': [ave_price],
            'Number of Purchases': [total_transactions],
            'Total Revenue': [total_revenue]}
summary_data_df = pd.DataFrame(summary_data)
print('')
print('Here is our summary purchase data:')
print('----------------------------------')
summary_data_df

Some basic statistics:
----------------------
average age is 22.74
youngest player is 7
oldest player is 45
The lowest priced item is $1.00
The highest priced item is $4.99

Here is our summary purchase data:
----------------------------------

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.04                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# ------ Let's find our basic gender statistics

male_players = players_unique_df.Gender.value_counts().Male
percen_male = '{:.2%}'.format(male_players / players_unique)

female_players = players_unique_df.Gender.value_counts().Female
percen_female = '{:.2%}'.format(female_players / players_unique)

nonD_players = players_unique - male_players - female_players
percen_nonD = '{:.2%}'.format(nonD_players / players_unique)
# ------- now let's build a dataframe and display
gender_stats_basic = pd.DataFrame({'Total Count': [male_players, female_players, nonD_players,],
                'Percentage of Players': [percen_male, percen_female, percen_nonD]
    })
gender_stats_basic.rename(index={0:'Male', 1:'Female', 2:'Other / Non-Disclosed'}, inplace=True)
gender_stats_basic

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# NOTE: for all but the last stat in the example output we are using total transactions
# for "avg total purchase per person" we calculate by unique players, not total transactions

format_percen = "{:.2f}%".format # we are sure to want this at some point
format_dollar = "${:,.2f}".format

# ----- count transactions by gender and place in a dataframe 
count_price = purchase_data.groupby('Gender')['Price'].count()
count_price_df = pd.DataFrame(count_price)
count_price_df.columns = ['Purchase Count']

# ----- average transaction prices by gender and place in a dataframe
mean_price = purchase_data.groupby('Gender')['Price'].mean()
mean_price_df = pd.DataFrame(mean_price)
# add formatting
mean_price_df = mean_price_df.applymap(format_dollar)
mean_price_df.columns = ['Average Purchase Price']

# ----- sum transaction prices by gender and place in a dataframe
count_sum = purchase_data.groupby('Gender')['Price'].sum()
count_sum_df = pd.DataFrame(count_sum)
# add formatting
count_sum_df = count_sum_df.applymap(format_dollar)
count_sum_df.columns = ['Total Purchase Value']

# ----- average transaction price per unique player by gender and place in a dataframe
# get count of players by gender
u_mean_group = players_unique_df.groupby('Gender')['Price'].count()
u_mean_group_df = pd.DataFrame(u_mean_group)
#print('--- our count of unique players ---')
#print(u_mean_group_df)
count_sum_noformat_df = pd.DataFrame(count_sum)
#print('--- our sum of spends ---')
#print(count_sum_noformat_df)
calculate = count_sum_noformat_df / u_mean_group_df
#print('-- our result ---')
#print(calculate)
calculate_df = pd.DataFrame(calculate)
calculate_df = round((calculate_df), 2)
calculate_df = calculate_df.applymap(format_dollar)
calculate_df = calculate_df.rename(columns = {'Price': 'Avg Total Purchase per Person'})
#print('---- final calculation')
#print(calculate_df)

# ----- assemble output dataframe from our four individual dataframes
purch_analysis_gender = pd.concat([count_price_df, mean_price_df, count_sum_df, calculate_df], axis = 1 )

purch_analysis_gender
#calculate_df

# ---> question:
# why aren't we getting the $ in the format?

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [6]:
#type(calculate_df)


## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
players_unique

576

In [27]:
#format_percen = "{:f}%".format # we are sure to want this at some point
format_percen = '{:.2%}'.format # we are sure to want this at some point

# ------ starting with our dataframe of unique players... copy players_unique_df
ages_df = players_unique_df
# ------ create our bins
bins = [ 0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 150 ]
bin_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# ------- do the bin-ing 
ages_df['Age Group'] = pd.cut(ages_df['Age'], bins, labels=bin_names)

tot_count = ages_df.groupby('Age Group')['SN'].count()
tot_count_df = pd.DataFrame(tot_count)
tot_count_df = tot_count_df.rename(columns = {'SN': 'Percentage of Players'})
#tot_count_df = tot_count_df.rename(columns = {'SN': 'Total Count'})
answers = (tot_count_df / players_unique)
answers_df = pd.DataFrame(answers)
answers_df = answers_df.applymap(format_percen)
#print('--- answers_df')
#print(answers_df)
#print('---- tot_count_df')
#print(tot_count_df)
tot_count_df = tot_count_df.rename(columns = {'Percentage of Players': 'Total Count'})


# ----- assemble output dataframe from our four individual dataframes
final = pd.concat([tot_count_df, answers_df], axis = 1 )
final

# probably just re-write this from scratch in the AM

<ipython-input-27-a3cf010783d5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ages_df['Age Group'] = pd.cut(ages_df['Age'], bins, labels=bin_names)

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
# Once more into the breach!
# ------ starting with our dataframe of players
start = purchase_data
# ------ create our bins
# bins shall be 0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 150 
bins = [ 0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 150 ]
bin_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# ------- do the bin-ing into the dataframe# ---> does what I want, but Jupyter complains about it: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
start['Age Group'] = pd.cut(start['Age'], bins, labels=bin_names)
purch_count = start.groupby('Age Group')['Price'].count()
purch_count_df = pd.DataFrame(purch_count)
purch_count_df = purch_count_df.rename(columns = {'Price': 'Purchase Count'})
# above creates our Purchase Count df

# ---- now create ave purchase price df
purchave = start.groupby('Age Group')['Price'].mean()
purchave_df = pd.DataFrame(purchave)
purchave_df = round((purchave_df), 2)
purchave_df = purchave_df.applymap(format_dollar)
purchave_df = purchave_df.rename(columns = {'Price': 'Average Purchase Price'})

# ---- now create ave total price df
purchtot = start.groupby('Age Group')['Price'].sum()
purchtot_df = pd.DataFrame(purchtot)

# ----- average transaction price per unique player by gender and place in a dataframe
# get count of unique players by gender
peeps_df = players_unique_df
peeps_df['Age Group'] = pd.cut(peeps_df['Age'], bins, labels=bin_names)
peeps = peeps_df.groupby('Age Group')['Price'].count()
peeps_df = pd.DataFrame(peeps)
# purchtot_df is from up above, our purchase totals
# now we divide our total purchase amounts per age group by the # of unique players in that age group
purchpers = purchtot_df / peeps_df
purchpers_df = pd.DataFrame(purchpers)
# now we format our numbers and rename our columns
purchpers_df = round((purchpers_df), 2)
purchpers_df = purchpers_df.applymap(format_dollar)
purchtot_df = purchtot_df.applymap(format_dollar)
purchtot_df = purchtot_df.rename(columns = {'Price': 'Total Purchase Value'})
purchpers_df = purchpers_df.rename(columns = {'Price': 'Avg Total Purchase per Person'})
# assemble our display DataFrame
purch_analysis_age = pd.concat([purch_count_df, purchave_df, purchtot_df, purchpers_df], axis = 1 )

purch_analysis_age

<ipython-input-44-071d12f2d0fa>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  peeps_df['Age Group'] = pd.cut(peeps_df['Age'], bins, labels=bin_names)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [61]:
# let's get this party started, shall we?
start_data = purchase_data

spend_report = pd.pivot_table(start_data, values = ['Price'], index = ['SN'],
                             aggfunc = {'size', np.mean, sum})

report = spend_report.reindex(spend_report['Price'].sort_values(by='sum', ascending=False).index)


report = report.rename(columns = {'mean': 'Average Purchase Price', 'size': 'Purchase Count', 
                                  'sum': 'Total Purchase Value'})

report = report.applymap(format_dollar)
report_df = pd.DataFrame(report)

print(report_df)
#purchtot_df = purchtot_df.applymap(format_dollar)
#report_df = report_df[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
# --- the above throws an error
report_df.head()

# question: why are we getting "price" at the top?
# why does our column reorder not work?
# how do we set formatting on just one column?

                             Price
            Average Purchase Price Purchase Count Total Purchase Value
SN
Lisosia93                    $3.79          $5.00               $18.96
Idastidru52                  $3.86          $4.00               $15.45
Chamjask73                   $4.61          $3.00               $13.83
Iral74                       $3.40          $4.00               $13.62
Iskadarya95                  $4.37          $3.00               $13.10
...                            ...            ...                  ...
Ililsasya43                  $1.02          $1.00                $1.02
Irilis75                     $1.02          $1.00                $1.02
Aidai61                      $1.01          $1.00                $1.01
Chanirra79                   $1.01          $1.00                $1.01
Alo38                        $1.00          $1.00                $1.00

[576 rows x 3 columns]

                             Price
            Average Purchase Price Purchase Count Total Purchase Value
SN
Lisosia93                    $3.79          $5.00               $18.96
Idastidru52                  $3.86          $4.00               $15.45
Chamjask73                   $4.61          $3.00               $13.83
Iral74                       $3.40          $4.00               $13.62
Iskadarya95                  $4.37          $3.00               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
start_data = purchase_data
start_data

pop_piv = pd.pivot_table(start_data, values = ['Price'], index=['Item ID', 'Item Name'], 
                        aggfunc={'Price': ('size', 'mean', sum)})

pop_piv_df = pd.DataFrame(pop_piv)

pop_piv_report = pop_piv_df.reindex(pop_piv_df['Price'].sort_values(by='size', ascending=False).index)
pop_piv_report.head()

                                                         Price
                                                          mean size    sum
Item ID Item Name
92      Final Critic                                  4.614615   13  59.99
178     Oathbreaker, Last Hope of the Breaking Storm  4.230000   12  50.76
145     Fiery Glass Crusader                          4.580000    9  41.22
132     Persuasion                                    3.221111    9  28.99
108     Extraction, Quickblade Of Trembling Hands     3.530000    9  31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
pop_piv2_df = pd.DataFrame(pop_piv) 
pop_piv_report2 = pop_piv2_df.reindex(pop_piv2_df['Price'].sort_values(by='sum', ascending=False).index)
pop_piv_report2.head()

                                                         Price
                                                          mean size    sum
Item ID Item Name
92      Final Critic                                  4.614615   13  59.99
178     Oathbreaker, Last Hope of the Breaking Storm  4.230000   12  50.76
82      Nirvana                                       4.900000    9  44.10
145     Fiery Glass Crusader                          4.580000    9  41.22
103     Singed Scalpel                                4.350000    8  34.80