In [26]:
import pandas as pd

Boxes = {'SN': ['Lisosia93','Lisosia93','Lisosia93','Iral74','Iral74','spamnut69',
                'bob', 'bob', 'joe', 'joe', 'joe', 'ed', 'sue', 'spamnut69','spamnut69', 'spamnut69'],
         'Price': [1.59, 2, 3.95, 0.99, 1.25, 4.25, 2.23, 3.95, 0.99, 1.25, 0.99, 1.25, 4.25, 2.23, 2.33, 4.25]
        }

df = pd.DataFrame(Boxes, columns= ['SN','Price'])
print (df)

           SN  Price
0   Lisosia93   1.59
1   Lisosia93   2.00
2   Lisosia93   3.95
3      Iral74   0.99
4      Iral74   1.25
5   spamnut69   4.25
6         bob   2.23
7         bob   3.95
8         joe   0.99
9         joe   1.25
10        joe   0.99
11         ed   1.25
12        sue   4.25
13  spamnut69   2.23
14  spamnut69   2.33
15  spamnut69   4.25

In [27]:
dups_SN = df.pivot_table(index=['SN'], aggfunc='size')
print('---- player count of transactions')
dups_SN = dups_SN.sort_values(ascending=False)
print (dups_SN)

---- player count of transactions
SN
spamnut69    4
joe          3
Lisosia93    3
bob          2
Iral74       2
sue          1
ed           1
dtype: int64

In [28]:
aveprice_SN = df.pivot_table(index=['SN'], aggfunc='mean')
print('\n---- ave price')
print (aveprice_SN)

sumprice_SN = df.pivot_table(index=['SN'], aggfunc=sum)
print('\n---- total price')
print (sumprice_SN)

---- ave price
              Price
SN
Iral74     1.120000
Lisosia93  2.513333
bob        3.090000
ed         1.250000
joe        1.076667
spamnut69  3.265000
sue        4.250000

---- total price
           Price
SN
Iral74      2.24
Lisosia93   7.54
bob         6.18
ed          1.25
joe         3.23
spamnut69  13.06
sue         4.25